.newDiv {
    display: flex;
    justify-content: center
}

span {
    display: flex;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 10px;
}

body {
    color: white;
    font-family: 'Poiret One';
    font-size: 20px;
    text-align: center;
}

p {
    text-align: left;
    color: black;
}

.row1 {
    background-image: url("images/100.png")
}

.row2 {
    background-image: url("images/200.png")
}

.row3 {
    background-image: url("images/300.png")
}

.row4 {
    background-image: url("images/400.png")
}

.row5 {
    background-image: url("images/500.png")
}